a {
	outline: none;
	text-decoration: none;
	/* font-family: "Jost", sans-serif;  */
}

.sub-banner li {
	display: inline-block;
}

/* special classes for blog */

.padding-top {
	padding-top: 134px;
}

.padding-bottom {
	padding-bottom: 100px;
}

/*-------- BLOG PAGES ------------ */
.blog-banner-section {
	background: url(../images/review-bg.jpg) no-repeat center;
	background-size: cover;
	height: 498px;
	position: relative;
	text-align: center;
}

.blog-banner-section h1 {
	color: var(--e-global-color-primary);
}

.single-blog-box {
	width: 540px;
	border-radius: 0;
    box-shadow: 0 6px 41px 6px rgba(0, 0, 0, 0.05);
    background: var(--e-global-color-white);
}
.single-blog-box figure img{
	border-radius: 0;
}

.single-blog-box:hover h4 a {
	color: var(--button-color);
}

.single-blog-outer-con {
	display: grid;
	gap: 50px 30px;
	margin-bottom: 70px;
	grid-template-columns: 48.6% 48.6%;
}

.single-blog-details {
	padding: 30px;
}

.single-blog-details .generic-btn2 a::before {
	bottom: -7px;
}

.single-blog-details h4 a {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 12px;
	/* font-family: "Merriweather", serif; */
	color: var(--e-global-color-secondary);
	transition: all 0.3s ease-in-out;
}

.single-blog-details ul li {
	font-size: 12px;
    line-height: 20px;
	padding-left: 20px;
    color: var(--e-global-color-text);
}

.single-blog-details ul li i {
	position: absolute;
	font-size: 14px;
	line-height: 16px;
	left: 0;
	top: 0;
	color: var(--e-global-color-accent);
}

.single-blog-details p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 28px;
}

.single-blog-details ul {
	display: flex;
	gap: 20px;
}

/* .blog-tabs-section{
	padding-bottom: 170px !important;
} */

.blog-tabs-inner-section .nav-tabs a.nav-link {
	color: var(--e-global-color-text);
	font-size: 24px;
	border: none;
	padding: 13px 36px;
}

.blog-tabs-inner-section .nav-tabs a.nav-link:hover {
	color: var(--button-color);
}

.blog-tabs-inner-section .nav-tabs .nav-link.active:hover {
	color: var(--e-global-color-primary);
}

/* .blog-tabs-inner-section .nav-tabs .nav-link.active {
	color: var(--primary-color);
	background-color: var(--button-color);
	border-radius: 0;
} */

.blog-tabs-inner-section .nav-tabs {
	border: 0;
	margin-bottom: 40px;
	gap: 10px;
	justify-content: space-evenly;
}

.blog-tabs-inner-section .nav-tabs .nav-item {
	margin: 0;
}

.blog-tabs-inner-section .pagination {
	margin-bottom: 0;
	justify-content: center;
	gap: 2px;
}

.blog-tabs-inner-section .pagination .page-link {
	padding: 11px 15px;
	margin-left: 0;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	/* background-color: transparent; */
	border: none;
	font-weight: 600;
}

.blog-tabs-inner-section .pagination .page-link:hover {
	color: var(--button-color);
}

.blog-tabs-inner-section .pagination .page-link:focus {
	box-shadow: none;
}

.blog-tabs-inner-section .pagination .page-item.active .page-link {
	color: var(--e-global-color-secondary);
}

.blog-tabs-inner-section .pagination .page-item.active .page-link:hover {
	color: var(--e-global-color-white);
}

.blog-tabs-inner-section .pagination .page-link i {
	color: var(--e-global-color-text);
	font-size: 14px;
}
.pagination .page-item:not(.disabled):hover>.page-link i{
	color: var(--e-global-color-white);
}

.generic-btn2 a {
	font-size: 14px;
	letter-spacing: 1px;
	position: relative;
	font-weight: bold;
	color: var(--e-global-color-secondary);
	transition: all 0.3s ease-in-out;
}

.single-blog-box h4 a:hover {
	text-decoration: none;
	color: var(--e-global-color-accent);
}

.generic-btn2 a::before {
	content: "";
	background: var(--e-global-color-secondary);
	width: 20px;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -9px;
	transition: all 0.3s ease-in-out;
}

.single-blog-details .generic-btn2 a:hover {
	color: var(--e-global-color-accent);

}

.single-blog-details .generic-btn2 a:hover::before {
	background-color: var(--e-global-color-accent);
}

.single-blog-details .generic-btn2 a::before {
	bottom: -7px;
}

.generic-btn2 a:hover {
	text-decoration: none;
}

.blog-tabs-inner-section .nav-tabs a.nav-link {
	color: var(--e-global-color-secondary);
    font-size: 20px;
    border: none;
	border-radius: 0;
    padding: 12px 34px;
	transition: all 0.3s ease-in-out;
}

.blog-tabs-inner-section .nav-tabs a.nav-link:hover {
	color: var(--e-global-color-white);
	background-color: var(--e-global-color-accent);
}

.blog-tabs-inner-section .nav-tabs .nav-link.active {
	color: var(--e-global-color-white);
	background-color: var(--e-global-color-accent);
}

.blog-tabs-inner-section .nav-tabs .nav-link.active:hover {
	color: var(--e-global-color-white);
	background-color: var(--e-global-color-accent);
}

/*=-*=-*=-*=-*=-*=-*= Single Post =-*=-*=-*=-*=-*=-*=/
/**************************************************/
.sidebar .widget,
.sidebar .widget-tweeter small,
.sidebar .widget-twitter small,
.post-image img,
.sidebar .form-inline .input-group,
.sidebar .post-thumbnail-entry,
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed,
#blog .post-item.border>.post-item-wrap>.post-item-description,
#blog img,
#blog audio,
#blog iframe {
	width: 100%;
	border: none
}

.sidebar .post-thumbnail-list a,
.sidebar .tags a,
.load-more a,
#blog .post-item.border .post-image .post-meta-category a,
#blog .post-item .post-item-description>h2,
#blog .post-item .post-item-description>h2>a,
.sidebar .widget-categories ul li a,
.post-meta-category a {
	text-decoration: none;
	color: #ddd;
}
... (file truncated for brevity)